.game-of-life {
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__canvas {
    /*width: 100%;
    height: 100%;
    border: 1px solid #77ff00;*/
  }

  &__actions {
    position: fixed;
    display: block;
    width: 48rem;
    top: 50%;
    left: 0;
  }

  &__advanced-actions {
    display: none;
  }
}
